<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteRule ^index\.php/(.*)/(.*)/(.*)$ /index.php?p=$1&c=$2&a=$3 [L]

# 视频防盗，直接访问时，替换成图片
#  RewriteCond %{HTTP_REFERER} !^$ [NC]
#  RewriteRule .(mp4) https://img2.mukewang.com/szimg/5c7e6835087ef3d806000338.jpg [R,NC,L]
</IfModule>